<!DOCTYPE html>
<html>
<head>
  <title>Apply to be a professor</title>
</head>
<body>
  <form action="/professors" method="POST">
    <input type="text" name="name" placeholder="Name">
    <input type="text" name="age" placeholder="Age">
    <input type="text" name="major" placeholder="Major">
    <button type="submit">Save</button>
  </form>
</body>
</html>